@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050510;
  --foreground: #e0e0e0;
}

body {
  color: var(--foreground);
  background: #000;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Cinematic Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
